body{
	padding: 0;
	margin: 0 auto;
	font-family: Arial, sans-serif;	
	-webkit-box-sizing: border-box;	
	box-sizing: border-box;
    width: 100%;
    max-width: 100%;
	}

html{
    overflow-x: hidden;
    width: 100%;
    max-width: 100%;
}
.container{
	width: 100%;
	max-width: 1000px;
	margin: 0 24px;
}

a{
	text-decoration: none;
	cursor: pointer;
}
.logo{
	font-family: Myriad Pro, sans-serif;
    font-size: 38px;
    display: inline-block;
    padding: 14px 0 14px 6px;
}

ul{
	list-style: none;
}

.my{
	color: #fd7d10;
}
.austria{
	color: #95c443;
}
.search {
	width: 25%;
    position: relative;
    margin-right: 22px;
}
.search input {
   border: none;

}

.search .input {
	border: 1px solid #e3e3e3;

	width: 100%;

	padding: 9px 45px 9px 13px;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;

	
	border-radius: 10px;

	background: #fff;
	font: 12px Arial, sans-serif;
	color: #e3e3e3;
	outline: none;

}

.search .input:focus {
	background: #E8E8E8;
	color: #333;
}

.search .submit {
	position: absolute;
	top: 0;
	right: 0;
	width: 45px;
    border-left: 1px solid #e3e3e3;
	height: 100%;
    color: #a3ca5d;
	cursor: pointer;
	background: url(https://lh4.googleusercontent.com/-b-5aBxcxarY/UAfFW9lVyjI/AAAAAAAABUg/gQtEXuPuIds/s13/go.png) 50% no-repeat;
	opacity: 0.8;
	
}

.search .submit:hover {
	opacity: 1;
}

input[type="search"] {
	-webkit-appearance: none;
}

.head:before{
	content: '';
	width: 100%;
	height: 3px;
	background: #e3e3e3;
	top: 0;
	position: absolute;
	
}
.head{
	display: -webkit-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	-webkit-box-orient: horizontal;
	-webkit-box-direction: normal;
	-ms-flex-direction: row;
	-webkit-flex-direction: row;
	        flex-direction: row;
	-webkit-box-pack: justify;
	-ms-flex-pack: justify;
	-webkit-justify-content: space-between;
	        justify-content: space-between;
	-webkit-box-align: center;
	-ms-flex-align: center;
	-webkit-align-items: center;
	        align-items: center;
	position: relative;
}

.second-row{
	display: -webkit-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	-webkit-box-orient: horizontal;
	-webkit-box-direction: normal;
	-ms-flex-direction: row;
	-webkit-flex-direction: row;
	        flex-direction: row;

}
.slider{
	display: inline-block;
	max-width: 700px;

}
.slide{
	position: relative;
	z-index: 999;
	width: 100%;
}
.sl-text{
	position: absolute;
	bottom: 0;
	width: 77.5%;
	color: #4f4f4f;
	margin: 0;
	font-size: 14px;
	font-weight: bold;
	padding: 12px 0px 12px 9px;
	text-align: left;
	background: rgba(255, 255, 255, .7);
}
.phone{
	margin-left: 5px;
}
.phone_inner{
	margin: 8px 22px;
}
.phone h1{
	font-size: 14px;
	color: #343434;
}
.schedule{
	font-size: 12px;
	color: #7e7e7e;
	max-width: 120px;
	margin-bottom: 63px;
	text-align: left;
}
.schedule span{
	color: #ef8814;
}
.tel{
	font-size: 23px;
	color: #343434;
	margin-bottom: 19px;
}
.button{
	background: #ef8814;
	border: none;
	border-radius: 6px;
	display: -webkit-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	height: 30px;
	text-align: center;
	padding: 4px 7px 4px 12px;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	-webkit-justify-content: center;
	        justify-content: center;
	-webkit-box-align: center;
	-ms-flex-align: center;
	-webkit-align-items: center;
	        align-items: center;
	cursor: pointer;
   	margin: 0 4%;
}
.button a{
	text-decoration: none;
	font-size: 12px;
	font-weight: bold;
	color: #fff;
	display: inline-block;
	margin-right: 12px;
}
.button span{
	display: -webkit-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	-webkit-justify-content: center;
	        justify-content: center;
	-webkit-box-align: center;
	-ms-flex-align: center;
	-webkit-align-items: center;
	        align-items: center;
	width: 100%;
	height: 100%;
}
.arrow{
	width: 18px;
	height: 18px;
	border-radius: 50%;
	border: 1px solid #fff;
	position: relative;
}
.arrow:after{
	    -ms-transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    border-right: 2px solid #fff;
    border-top: 2px solid #fff;
    content: '';
    bottom: 0;
    height: 5px;
    width: 5px;
    position: absolute;
    
    right: 3px;
    margin: 0 auto;
    left: 0;
    top: 5px;
            transform: rotate(45deg);
}


/* Tab */
.tab {
  overflow: hidden;
  border: none;
  background-color: #fff;
  text-align: center;
  
  margin: 0 auto;
}

.tab button {
background-color: inherit;
  
  border: none;
  outline: none;
  cursor: pointer;
  padding: 11px 33px;

}

.tab button:hover {
border-top: 3px solid #ef8814}

.tab button.active {
  border-top: 3px solid #ef8814;
}

.tabcontent {
  margin: 19px 0 0;
}

.tablinks{
	color: #606060;
	font-size: 16px;
	font-weight: bold;

}

#main{
	display: -webkit-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	-webkit-box-orient: horizontal;
	-webkit-box-direction: normal;
	-ms-flex-direction: row;
	-webkit-flex-direction: row;
	        flex-direction: row;
	position: relative;
	padding-bottom: 40px;
}
#main:after{
	content: '';
	width: 100%;
	height: 10px;
	background: #e3e3e3;
	bottom: 0;
	position: absolute;
}

.left-frame{
width: 20%;
margin-right: 20px;
}
.links{
	display: -webkit-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-ms-flex-direction: column;
	-webkit-flex-direction: column;
	        flex-direction: column;
    border-top: 1px solid #95c443;
    margin-bottom: 11px;
}

.links a{
	color: #606060;
	font-size: 14px;
	font-weight: bold;
	padding: 4px 0;
	text-align: left;
}
.link{
	display: -webkit-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	-webkit-box-orient: horizontal;
	-webkit-box-direction: normal;
	-ms-flex-direction: row;
	-webkit-flex-direction: row;
	        flex-direction: row;
	-webkit-box-align: center;
	-ms-flex-align: center;
	-webkit-align-items: center;
	        align-items: center;
}
.link img{
	width: 36px;
	height: 36px;
	margin: 5px 10px 5px;
}
.feedback{
    border-top: 1px solid #95c443;
   	text-align: left;
   	position: relative;
}

.btn3{
position: absolute;
}

.inputs{
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-ms-flex-direction: column;
	-webkit-flex-direction: column;
	        flex-direction: column;
	margin-right: 30px;
}

.feedback p{
	font-size: 18px;
	color: #000;
	padding: 8px 0;
	margin: 0;
}

.feedback label{
	font-size: 12px;
	color: #343434;
	text-align: left;
	padding: 4px 0 4px 6px; 
}
.feedback input{
	height: 18px;
	border: 1px solid #bababa;
	width: 200px;
}
.main-frame{
	font-size: 14px;
	color: #343434;
	display: -webkit-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	-webkit-box-orient: horizontal;
	-webkit-box-direction: normal;
	-ms-flex-direction: row;
	-webkit-flex-direction: row;
	        flex-direction: row;
	-ms-flex-wrap: wrap;
	-webkit-flex-wrap: wrap;
	        flex-wrap: wrap;
}
textarea{
	resize: none;
	height: 78px;
	width: 199px;
	margin-bottom: 10px;
	border: 1px solid #bababa;

}
.main-frame h2{
    font-size: 18px;
    color: #000;
}
.main-frame h3{
    font-size: 14px;
    font-weight: bold;
    color: #000;
}
.why-austria, .advantages{
	border-top: 1px solid #f55509;
    width: 49%;
    margin: 3px 0 16px 0;
    height: 343px;
    position: relative;
    font-size: 12px;
}

.description{
	text-align: left;
    padding-bottom: 13px;
}
.image{
	display: -webkit-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	-webkit-justify-content: center;
	        justify-content: center;
	-webkit-box-align: center;
	-ms-flex-align: center;
	-webkit-align-items: center;
	        align-items: center;
}
.image img, h2{
    width: 40%;
    display: inline-block;
}
.why-austria{
	margin-right: 15px;
}

.btn{
	background-color: #82b527;
	position: absolute;
    right: 0;
    bottom: 0;
}
.arr{
	border: none;
}

.btn a{
	margin-right: 0;
}
.description ul{
	position: relative;
	text-align: left;
	margin: 0;

}
.description li{

}
.description li:before{
   -ms-transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    border-right: 2px solid #82b527;
    border-top: 2px solid #82b527;
    content: '';
    height: 5px;
    width: 5px;
    position: absolute;
        
    left: 10px;
    margin-top: 6px;
    
            transform: rotate(45deg);
}

.description ul li:before {
 background-position: 0px -16px;
  }

.image img{
	width: 60%;
	padding-top: 3px
}
/* News */
.news{
	border-top: 1px solid #f55509;
	position: relative;
	padding-bottom: 22px;
}
.news h2{
	text-align: start;
	width: 100%;
	padding: 7px 0 12px;
	margin: 0;

}
.items{
	display: -webkit-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	-webkit-box-orient: horizontal;
	-webkit-box-direction: normal;
	-ms-flex-direction: row;
	-webkit-flex-direction: row;
	        flex-direction: row;
	-ms-flex-wrap: wrap;
	-webkit-flex-wrap: wrap;
	        flex-wrap: wrap;
	margin: 9px;
}
.news_item{
	display: -webkit-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-ms-flex-direction: column;
	-webkit-flex-direction: column;
	        flex-direction: column;
	font-size: 12px;
	text-align: left;
	position: relative;

	width: 30%;	
	margin-right: 12px;
	margin-bottom: 15px;
}
.news_item b{
		font-size: 14px;
		margin-top: 4px;
		margin-bottom: 6px;
}
.news_item a{
	text-decoration: underline;
	color: #588903;
	font-size: 12px;

    position: absolute;
    bottom: 0;
    right: 20px;
}
.news_item p{
	margin: 0;
	margin-bottom: 22px;
}

.btn2{
background: none;
right: 15px;
padding-bottom: 0;
}
.btn2 a{
	color: #f55509;
	padding-right: 8px;
}
.arr2{
border: none;
background-color: #f55509;
}

/* Footer */

.footer_inner{
	display: -webkit-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	-webkit-box-orient: horizontal;
	-webkit-box-direction: normal;
	-ms-flex-direction: row;
	-webkit-flex-direction: row;
	        flex-direction: row;
	-webkit-box-align: center;
	-ms-flex-align: center;
	-webkit-align-items: center;
	        align-items: center;
	-ms-flex-pack: distribute;
	-webkit-justify-content: space-around;
	        justify-content: space-around;
	padding: 0 14px 22px 35px;
	margin: 0;
}
footer p{
	font-size: 12px;
	font-family: "Tahoma", sans-serif;
}
.nav_link{
color: #888888;
margin-right: 26px;

font-size: 16px;
}
.nav_link:hover{
	color: #f55509;

}

.tel span{
	display: -webkit-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	-webkit-justify-content: center;
	        justify-content: center;
	-webkit-box-align: center;
	-ms-flex-align: center;
	-webkit-align-items: center;
	        align-items: center;
	text-align: center;
	width: 100%;
	height: 100%;
}


@media screen and (max-width: 768px){
	.slider{
		max-width: 35%;
		height: 50%;
	}
	#main{
     -webkit-box-orient: vertical;
     -webkit-box-direction: normal;
     -ms-flex-direction: column;
     -webkit-flex-direction: column;
             flex-direction: column;
    }
	.left-frame{
		display: -webkit-box;
		display: -ms-flexbox;
		display: -webkit-flex;
		display: flex;
		-webkit-box-orient: horizontal;
		-webkit-box-direction: normal;
		-ms-flex-direction: row;
		-webkit-flex-direction: row;
		        flex-direction: row;
		width: 100%;
		height: auto;
        margin-bottom: 10px;
        padding-bottom: 20px;
	}
	.links{
		-webkit-box-orient: horizontal;
		-webkit-box-direction: normal;
		-ms-flex-direction: row;
		-webkit-flex-direction: row;
		        flex-direction: row;
        width: 50%;
        -ms-flex-wrap: wrap;
        -webkit-flex-wrap: wrap;
                flex-wrap: wrap;
        margin: 0 10px;
	}
	.link{
		display: inline-block;
		width: 50%;
		display: -webkit-box;
		display: -ms-flexbox;
		display: -webkit-flex;
		display: flex;
		-webkit-box-align: center;
		-ms-flex-align: center;
		-webkit-align-items: center;
		        align-items: center;
		-webkit-box-pack: left;
		-ms-flex-pack: left;
		-webkit-justify-content: left;
		        justify-content: left;
		text-align: left
	}
	.link img{
	display: inline-block;
	width: 26px;
	height: 26px;
	margin: 0;
	margin-right: 5px;
    }
   .link a{
	text-align: left;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	-webkit-justify-content: center;
	        justify-content: center;
	-webkit-box-align: center;
	-ms-flex-align: center;
	-webkit-align-items: center;
	        align-items: center
    }
	.feedback{
        width: 50%;
        text-align: center;
        position: relative;
	}
	.btn3{
		margin: 0 35%;
	}

	.inputs{
		margin: 10px auto;
	}
	.inputs label{
		text-align: center;
	}
	.inputs input, textarea{
     width: 90%;
     margin: 0 20px;
	}

    .why-austria, .advantages{
    	width: 100%;
    	margin: 20px;
    }
    .tab button {
    	padding: 5px 11px;
    }
    .tel{
    	font-size: 14px;
    }
    .schedule{
    	margin-bottom: 30px;
    }
}

@media screen and (max-width: 375px){
    .logo{
    	font-size: 24px;
    }
    .search{
    	width: 50%;
    }
    .second-row{
    	-webkit-box-orient: vertical;
    	-webkit-box-direction: normal;
    	-ms-flex-direction: column;
    	-webkit-flex-direction: column;
    	        flex-direction: column;
    }
    .slider{
    	max-width: 5%;
    }
    .sl-text{
    	font-size: 12px;
    }
    .phone_inner, .schedule{
    	text-align: center;
    	margin: 20px auto;
    }
    .left-frame{
        -ms-flex-wrap: wrap;
        -webkit-flex-wrap: wrap;
                flex-wrap: wrap;
    }
    .links, .feedback{
    	width: 100%;
    }
    
    .image h2{
    	margin-bottom: 0;
    	font-size: 14px;
    }
    .items{
    	-webkit-box-orient: vertical;
    	-webkit-box-direction: normal;
    	-ms-flex-direction: column;
    	-webkit-flex-direction: column;
    	        flex-direction: column;
    }
    .why-austria, .advantages, .news{
    	margin-top: 10px;
    }
    .btn{
        bottom: -20px;
    }
    .description{
    	margin-bottom: 30px;
    }
    .news{
    	margin-top: 20px;
    }
    .news h2{
    	text-align: center;
    }
    .news_item{
    	width: 100%;
    	margin: 10px;
    }
    .footer_inner{
    	-webkit-box-orient: vertical;
    	-webkit-box-direction: normal;
    	-ms-flex-direction: column;
    	-webkit-flex-direction: column;
    	        flex-direction: column;
    }
    .footer_inner nav{
    	display: -webkit-box;
    	display: -ms-flexbox;
    	display: -webkit-flex;
    	display: flex;
    	-webkit-box-orient: vertical;
    	-webkit-box-direction: normal;
    	-ms-flex-direction: column;
    	-webkit-flex-direction: column;
    	        flex-direction: column;
        margin-bottom: 10px;
        text-align: center;
    }
}